#root {
    /*大きさ設定*/
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    /*初期設定*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*大きさ設定*/
    height: 100%;
    width: 100%;
}

#app-base {
    /*大きさ設定*/
    height: 100%;
    width: 100%;
}

form {
    /*大きさ設定*/
    height: 100%;
    width: 100%;
}

.EventBackground{
    /*背景設定*/
    background-image: url('../../Components/Elements/ArrowVerEvent.png');
   
    /* 背景の表示方法 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*大きさ設定*/
    height: 100%;
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EventField{
    /*大きさ設定*/
    max-height: 70%; 
    width: 80%;

    /*位置設定*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*背景設定*/
    backdrop-filter: blur(20px);
    border-radius: 20px;

    /*余白設定*/
    gap: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 10%;

    /*スクロール設定*/
    overflow-y: scroll; 
}

.EventSearch{
    /*大きさ設定*/
    width: 100%;

    /*位置設定*/
    display: flex;
    flex-direction: row;

    /*余白設定*/
    gap: 1%;
}

.EventSearchButton{
    /*大きさ設定*/
    width: 15%;
}

.EventAddButton{
    /*大きさ設定*/
    width: 100%;

    /*余白設定*/
    padding-left: 80%;
    padding-right: 10%;
    padding-top: 1%;
}

.EventHomeButton{
    /*大きさ設定*/
    width: 100%;

    /*余白設定*/
    padding-right: 83%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

}

